<h1>All lessons</h1>

<!--
<ul>
<% @lessons.each do |l| %>
    <label for="title">Lesson Title</label>
    <li>Lesson Title: <%= l.title %></li>
    <li>Lesson Content: <%= l.content %></li>
<% end %>
</ul> -->

<h3>Click on the title to edit further</h3> 
<% @lessons.each do |lesson| %>
    <a href='/lessons/<%= lesson.id %>'><li>Lesson Title: <%= lesson.title %></li></a><!-- this link needs to be fixed!-->
    <li>Lesson Topic: <%= lesson.topic %></li>
    <li>Lesson Content: <%= lesson.content %></li>
<% end %>

<p><a href="/lessons/new">Create a lesson</p>

